// main styles

body {
  background-color: #f5f3ea;
  box-sizing: border-box;
}

img {
  width: 100%;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

// header
.main-title {
  color: #252525;
  text-align: center;
  font-family: "Gilroy-Heavy", sans-serif;
  font-size: 212px;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 35px;
  letter-spacing: -0.7px;
}

.symbol {
  padding-bottom: 14px;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
  }
}

.menu {
  color: #252525;
  text-align: center;
  font-family: "Gilroy-Light" sans-serif;
  font-size: 25px;
}

// top-page

.top-main-title {
  color: #252525;
  text-align: center;
  font-size: 150px;
  padding: 30px 0;

  h1 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }
  h2 {
    font-family: "Gilroy-Light", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
  }
}

.top-page__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    padding-bottom: 40px;
  }
}

.top-page__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252525;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 59px;
  line-height: normal;
  font-weight: 300;
  padding: 70px 0;
  border-bottom: 1px solid #252525;
  p {
    padding: 0 70px;
  }
  span {
    font-weight: 800;
  }
}
.top-page__text-about {
  width: 485px;
  display: flex;
  padding: 60px 70px 60px 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  flex-shrink: 0;
  background: #252525;
  span {
    align-self: stretch;
    color: #fff;
    text-align: right;
    font-family: Gilroy-Medium;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
  }
}

.top-page__text-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  gap: 20px;
}

.img-media {
  width: 50px;
  height: 50px;
}

.top-page__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 70px;
  svg {
    border-radius: 50px;
    background: #fff;
    padding: 15px 40px;
  }
}

// what i do

.container-two {
  border-bottom: 1px solid #252525;
  border-top: 1px solid #252525;
  width: auto;
}

.container-two-item {
  display: flex;
  justify-content: center;
  counter-reset: section 0;

  &_img {
    background-image: url(../images/Frame3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 980px;
    display: flex;
  }

  &_items {
    padding: 0px 70px 70px 111px;

    h1 {
      color: #252525;
      font-family: "Gilroy-Light", sans-serif;
      font-size: 144px;
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
      display: flex;
      padding: 70px 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 100px;
    }

    h2 {
      font-size: 44px;
      position: relative;
      padding-left: 60px;
      padding-top: 40px;
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 44px;
      font-style: normal;
      text-transform: uppercase;
    }
    p {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      width: 759px;
      padding-bottom: 40px;
    }

    h2::before {
      content: counter(section, decimal-leading-zero) " ";
      counter-increment: section;
      position: absolute;
      left: 0px;
      font-family: "Gilroy-Light", sans-serif;
      font-size: 44px;
      font-style: normal;
      font-weight: 100;
      color: #000;
    }
  }

  &_items-text {
    border-bottom: 1px solid #252525;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }

  &_items-text-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }
}

// selected work

.page-selected-work {
  padding: 70px 0 100px;
}

.selected-work__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 50px 70px 70px;
}

.section-work__grid-item {
  position: relative;
}

.section-work__grid-item:hover .team-grid__item-main {
  opacity: 0;
  transition: 0.3s;
}
.section-work__grid-item:hover .selected-work__items {
  opacity: 1;
  transition: 0.3s;
}

.selected-work__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  h3 {
    color: #000;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
  }
}

.selected-work__items--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 30px;
}

.top-page__text-media--blk {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  img {
    width: 30px;
    height: 30px;
  }
}

.selected-work__items--text-bnt {
  display: flex;
  gap: 30px;
}

.btn {
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

.btn--black {
  background: #252525;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.btn--white {
  background: #fff;
  padding: 15px 30px;
  color: #252525;
  padding: 15px 30px;
}

.wrapper--btn-work {
  display: flex;
  justify-content: center;
}
.btn--work {
  padding: 15px 60px;
}

// my clients

.container-four {
  height: auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
}

.container-four_tetle {
  color: #252525;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container-four-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-top: 50px;
  padding: 80px;
  padding-bottom: 110px;

  &_content {
    width: 487px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 30px;

    img {
      height: 25px;
      width: 140px;
    }

    h2 {
      color: #333;
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 40px;
      font-style: normal;
      line-height: 44px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    p {
      color: #000;
      font-family: Inter;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      padding-bottom: 30px;
    }
  }

  &_content-client {
    display: flex;
    gap: 20px;
    align-items: center;

    &-name {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      margin-left: 85px;
      padding-top: 30px;

      h3 {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }
      p {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
  .container-four-item_content > * {
    grid-column: span 3;
  }
}

.content-1 {
  border-bottom: 1px solid #252525;
  border-right: 1px solid #252525;
}
.content-2 {
  border-bottom: 1px solid #252525;
}
.content-3 {
  border-bottom: 1px solid #252525;
  border-left: 1px solid #252525;
}
.content-4 {
  border-right: 1px solid #252525;
}
.content-6 {
  border-left: 1px solid #252525;
}

// our team
.section-team {
  padding: 50px 0;
}
.section-team__grid {
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item6 item7 item7";
}

.item-tyra {
  grid-area: item1;
}

.item-darcel {
  grid-area: item2;
}

.item-brittni {
  grid-area: item3;
}

.item-roselle {
  grid-area: item4;
}

.item-jane {
  grid-area: item5;
}

.item-robert {
  grid-area: item6;
}

.item-join {
  grid-area: item7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  color: #333;
  font-family: Gilroy-Regular;
  font-weight: 400;
  h3 {
    font-size: 30px;

    text-transform: uppercase;
  }
  p {
    font-size: 64px;
    text-transform: uppercase;
  }
}

.team-grid__item {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #333;
  padding: 30px 0;
  h3 {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  p {
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
  }
}

.team-grid__item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 30px;
}

.grid-img {
  padding: 15px 0;
}

.media {
  width: 150px;
}

// contact

.container-six_item{
  display: flex;
 justify-content: space-between;
}

.container-six_item-text{
    width: 870px;
    gap: 30px;
}

.container-six {
  border-bottom: 1px solid #252525;
  border-top: 1px solid #252525;
  padding: 70px;

    h1 {
      color: #333;
      font-family: "Gilroy-Light", sans-serif;
      font-size: 155px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
    }

    h2 {
      color: #252525;
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      padding-bottom: 30px;
    }

    p {
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 34px;
      font-style: normal;
      line-height: normal;
      padding-bottom: 30px;
    }
}
  .container-six_item-text--button{

    display: flex;
    padding: 10px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;
    height: 35px;
    width: 162px;
    cursor: pointer;  
    p {
      color: #fff;
      font-size: 18px;
      padding-bottom: 0px;
      display: flex;
      justify-content: center;
      padding-left: 15px;
      user-select: none;

      img {
        user-select: none;
      }
    }
  }
  
  .container-six_item-text--button:active {
    transform: scale(0.95);
  }


// footer

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;

  &-item {
    p {
      color: #333;
      font-family: "Gilroy-Regular", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &-item_text {
    color: #333;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/*МОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕМОЕ*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    padding: 40px 30px 0;
  }
  .top-main-title {
    font-size: 120px;
  }
  .main-title {
    font-size: 150px;
    letter-spacing: 6px;
  }

  .top-page__logos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 30px;
  }

  .top-page__text {
    p {
      font-size: 52px;
      text-align: center;
    }
  }
  .top-page__text-about {
    width: auto;
  }
  .top-page__text {
    display: block;
    font-size: 52px;
    p {
      text-align: center;
      padding: 30px;
    }
  }
  .selected-work__grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;
  }

  .section-team__grid {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-areas:
      "item1 item2"
      " item3 item4"
      "item5 item6"
      "item7 item7";
  }

 
  .container-two{
    
    &_logo{
        padding: 40px 24px;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        img{
            border-radius: 27px;            
        }   
    }
    &_logo-item{
        padding: 15px 18px;  
    }
}


.container-two-item{
display: flex;
flex-direction: column;

&_img{
    width: auto;
    height: 991px;
}

&_items{
    justify-content: center;
    padding: 15px;
}
}


.container-four{

&_tetle{
    font-size: 130px;
    width: auto;
    margin: 0 auto;  
    }

&-item{
    display: block;
    width: auto;
    padding: 30px;
    margin: 0 auto;

}

&-item_content{
    width: auto;
}


.content-1{
    border: none; 
    border-bottom: 1px solid #252525;
}
.content-2{
    border: none;
    border-bottom: 1px solid #252525;
}
.content-3{
    border: none;
    border-bottom: 1px solid #252525;
}
.content-4{
    border: none;
    border-bottom: 1px solid #252525;
}
.content-6{
    border: none;
    border-top: 1px solid #252525;
}
}

.container-six{
width: auto;
padding: 0;



&_item{
    display: block;
    padding: 10px 30px;
    align-items: center;

    h1{
        font-size: 150px;
    }
}

&_item-text{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    padding: 40px 0px;
    gap: 0px;

    h2{
        text-align: center;
        font-size: 50px;
    }

    p{
        text-align: center; 
        font-size: 25px; 
    }
}

&_item-text--button{
    display: flex;
    text-align: center;

    p{  
     font-size: 18px;
    }
}
}

.footer{
display: flex;
    justify-content: space-between;
    padding: 15px; 
}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    padding: 20px;
  }

  .logo-text {
    display: none;
  }

  .top-main-title {
    font-size: 57px;
  }

  .main-title {
    font-size: 60px;
    letter-spacing: 3.4px;
  }

  .top-page__text {
    p {
      font-size: 30px;
      text-align: center;
    }
  }
  .top-page__text-about {
    width: auto;
  }
  .top-page__logos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px 20px;
  }
  .top-page__text {
    display: block;
    font-size: 30px;
    p {
      text-align: center;
      padding: 30px;
    }
  }

  .selected-work__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }
  .section-team__grid {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .team-grid__item-text {
    align-items: center;
    gap: 5px;
  }
  .team-grid__item {
    gap: 15px;
  }

  .item-join {
    align-items: center;

    p {
      text-align: center;
      font-size: 50px;
    }

    button {
      width: 100%;
    }
  }
  .top-page__text-media--blk {
    justify-content: center;
  }
  .container-two{
    
    &_logo{
        padding: 10px 10px;
        
        gap: 10px;
        flex-wrap: wrap;
    }

    &_logo-item{
        padding: 15px 10px;
    }
}


.container-two-item{
display: flex;
flex-direction: column;

&_img{
    width: auto;
    height: 478px;
}

&_items{
    justify-content: center;
    padding: 15px;

    h1{
        font-size: 56px;
        
        padding: 0;
        width: auto;
    }

    &-text{
        
        h2{
            font-size: 25px;
            padding-left: 40px;
        }
        p{
            font-size: 18px;
            
        }
    }

    h2::before {
        font-size: 25px;
      }
  
      &_items-text-4{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;

        
      }
      h2{
        font-size: 25px;
        padding-left: 40px;
        width: auto;
    }
    p{
        font-size: 19px;
            width: auto;

    }
}
}   

.container-four{ 
&_tetle{
    font-size: 56px;
    padding: 5px;  
    margin: 0 auto;
    }

&-item{
    display: block;
    width: auto;
    padding: 10px;
    margin: 0 auto;
}

&-item_content{
    width: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 2px;

    h2{
        padding-top: 15px;
        max-width: 100%;
        padding-bottom: 20px;
        font-size: 30px;
        gap: 0;
        line-height: 35px;
    }

    p{
        font-size: 18px;
        display: flex;
        line-height: 25px;          
    }
}

.content-1{
    border-right: none;
    border-bottom: 1px solid #252525;
}
.content-2{
    border: none;
    border-bottom: 1px solid #252525;
}
.content-3{
    border: none;
    border-bottom: 1px solid #252525;
}
.content-4{
    border: none;
    border-bottom: 1px solid #252525;
}
.content-6{
    border: none;
    border-top: 1px solid #252525;
}
}

.container-six{
width: auto;
padding: 0;

&_item{
    display: block;
    padding: 10px 5px;
    align-items: center;
    

    h1{
        font-size: 67px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

&_item-text{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    padding: 20px 0px;
    gap: 0px;

    h2{
        text-align: center;
        font-size: 36px;
    }

    p{
        text-align: center; 
        font-size: 22px; 
    }
}

&_item-text--button{
    display: flex;
    width: 250px;
    justify-content: center;
    text-align: center;

    p{  
     font-size: 18px;
    }
}
}

.footer{
display: flex;
flex-direction: column;
align-items: center;
    padding: 15px; 

    &-item_text{
        font-size: 13px;
        padding-bottom: 10px;
    }

    p{
        font-size: 13px;
        padding-bottom: 10px;
    }

    &-item_link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}

}